/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field input {
  height: 20px;
  transition: height ease-in-out 400ms;
}

.mat-form-field input:focus {
  background-color: red !important;
  height: 50px;
  transition: height ease-in-out 400ms;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "~@ng-select/ng-select/themes/default.theme.css";

